{% block content %}

    {% set background_image = 'background-image: url(' ~ post.thumbnail.src ~ ');' %}
    {% set background_size = item_background_size %}
    {% set background_repeat = item_background_repeat %}
    {% set background_position = item_background_position %}
    {% set background_inline_style = [background_image, background_size, background_repeat, background_position]|join('') %}
    
    {% set page_header_title = post.meta('wpfc_page_header_title') %}
    {% set page_title = page_header_title ?: post.title  %}
    
    <div class="wpfc-item" style="{{ item_inline_style }}">
        
        {# Featured Image #}
        {% if post.thumbnail.src %}
            <div class="wpfc-post-thumbnail">
                <div class="wpfc-background-image" style="{{ background_inline_style }}"></div>
                {% if scope.image.overlay.enabled %}<div class="wpfc-background-overlay" style="{{ item_background_overlay }}"></div>{% endif %}
            </div>
        {% endif %}

        {# Content Wrapper #}
        <div class="wpfc-inner-wrapper {{- item_align_class }} {{- class_inner_wrapper }}" style="{{ wrapper_inline_style }}">
            <div class="wpfc-inner {{- inner_class }}" style="{{ inner_style }}">
                <h2 class="wpfc-entry-title">{{ page_title }}</h2>
                <div class="wpfc-entry-description">{{ post.meta('wpfc_page_header_description') }}</div>
            </div>
        </div>

    </div>
{% endblock %}