{% set meta_scope = 'meta-avatar' %}
{% set meta_avatar_enabled = meta_avatar_enabled ?? gantry.config.get('content.' ~ scope ~ '.' ~ meta_scope ~ '.enabled', '1') %}
{% set meta_avatar_link = meta_avatar_link ?? gantry.config.get('content.' ~ scope ~ '.' ~ meta_scope ~ '.link', '1') %}

{% block meta_avatar %}
    {% if meta_avatar_enabled %}
        <div class="meta-avatar meta-item">
            {% block meta_avatar_content %}  
                {% for author in post.authors %}
                    {% if meta_avatar_link %}
                        <a href="{{ author.link }}" title="{{ author.name }}">
                            <img src="{{ url(author.avatar) }}" alt="{{ author.name}}">
                        </a>
                    {% else %}
                        <img src="{{ url(author.avatar) }}" alt="{{ author.name }}">
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}